.container {
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: white;
  display: flex;
  justify-content: space-around;
}

.trafficLightsContainer {
  width: 125px;
  height: 250px;
  background-color: black;
  border-radius: 10px;
  margin-top: 15%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.lightsDiv {
  margin-bottom: 10px;
  width: 85px;
  height: 85px;
  border-radius: 50%;
}

.autoButton {
  position: relative;
  text-align: center;
  margin-top: 10px;
  width: 10%;
  margin-left: 45%
}